<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".actividades.views.PerfilClienteActivity"
            android:label="@string/title_activity_perfil_cliente"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".actividades.views.CitaActivity"
            android:label="@string/title_activity_cita"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".actividades.views.RegistroNuevoClienteActivity"
            android:label="@string/title_activity_nuevo_cliente"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".actividades.views.DiasActivity"
            android:label="@string/title_activity_dias"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".actividades.views.ListaClienteActivity"
            android:label="@string/title_activity_cliente"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".actividades.views.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".actividades.IngresoActivity"
            android:label="@string/title_activity_ingreso"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actividades.views.RegistroUsuarioActivity"
            android:label="@string/title_activity_test_two"
            android:theme="@style/AppTheme" />
    </application>

</manifest>